@keyframes moveImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ShowcaseContainer {
  margin-top: 50px;
  overflow: hidden;
}

.ShowcaseFonts {
  display: flex;
  animation: moveImages 30s linear infinite;
  align-items: center;
}

.showcaseFont {
  font-size: 30px;
  color: var(--light-text-color);
  height: auto;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .ShowcaseFonts {
    animation: moveImages 15s linear infinite;
  }

  .ShowcaseContainer {
    margin-top: 30px;
    overflow: hidden;
  }
}
