@font-face {
  font-family: "FM Abhaya";
  src: url("./FM-Abhaya.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Arjun";
  src: url("./FM-Arjun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Basuru";
  src: url("./FM-Basuru.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Bindumathi";
  src: url("./FM-Bindumathi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Derana";
  src: url("./FM-Derana.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Emanee";
  src: url("./FM-Emanee.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Ganganee";
  src: url("./FM-Ganganee.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Gemunu";
  src: url("./FM-Gemunu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Malithi";
  src: url("./FM-Malithi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Rajantha";
  src: url("./FM-Rajantha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FM Samantha";
  src: url("./FM-Samantha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abaya Libre";
  src: url("./Abhaya-Libre.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif Sinhala";
  src: url("./Noto-Serif-Sinhala.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yaldevi";
  src: url("./Yaldevi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* apex fonts */

@font-face {
  font-family: "Apex-001";
  src: url("./Apex-001.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-002";
  src: url("./Apex-004.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-003";
  src: url("./Apex-003.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-004";
  src: url("./Apex-004.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-005";
  src: url("./Apex-005.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-006";
  src: url("./Apex-006.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-007";
  src: url("./Apex-007.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-008";
  src: url("./Apex-008.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-009";
  src: url("./Apex-009.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-010";
  src: url("./Apex-010.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-011";
  src: url("./Apex-011.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-012";
  src: url("./Apex-012.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-013";
  src: url("./Apex-013.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-014";
  src: url("./Apex-014.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-015";
  src: url("./Apex-015.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-016";
  src: url("./Apex-016.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-017";
  src: url("./Apex-017.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-019";
  src: url("./Apex-019.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-020";
  src: url("./Apex-020.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-021";
  src: url("./Apex-021.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-022";
  src: url("./Apex-022.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-023";
  src: url("./Apex-023.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-024";
  src: url("./Apex-024.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-025";
  src: url("./Apex-025.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-026";
  src: url("./Apex-026.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-027";
  src: url("./Apex-027.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-028";
  src: url("./Apex-028.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-029";
  src: url("./Apex-029.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-030";
  src: url("./Apex-030.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-031";
  src: url("./Apex-031.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-032";
  src: url("./Apex-032.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-033";
  src: url("./Apex-033.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-034";
  src: url("./Apex-034.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-035";
  src: url("./Apex-035.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-036";
  src: url("./Apex-036.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-037";
  src: url("./Apex-037.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-038";
  src: url("./Apex-038.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-039";
  src: url("./Apex-039.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-040";
  src: url("./Apex-040.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-041";
  src: url("./Apex-041.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-042";
  src: url("./Apex-042.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-043";
  src: url("./Apex-043.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-045";
  src: url("./Apex-045.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-046";
  src: url("./Apex-046.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-047";
  src: url("./Apex-047.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-048";
  src: url("./Apex-048.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-049";
  src: url("./Apex-049.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apex-050";
  src: url("./Apex-050.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
