@font-face {
  font-family: "FM Abhaya";
  src: local("FMAbhaya"), url("../../fonts/FMAbhaya.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.converter-container {
  display: flex;
  align-items: center;
  margin: 50px auto;
  width: 600px;
}

.convert-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}

.input-box,
.output-box {
  flex: 1;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  transition: border-color 0.3s ease-in-out;
}

.input-box textarea,
.output-box textarea {
  width: 100%;
  height: 150px;
  resize: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 22px;
  color: var(--text-color);
}

.input-box textarea {
  font-family: "Abhaya Libre", serif;
  font-style: normal;
  font-weight: normal;
}

.output-box textarea {
  font-family: "FM Abhaya";
  font-style: normal;
  font-weight: normal;
}

.input-box:hover,
.input-box:focus,
.output-box:hover,
.output-box:focus {
  border-color: var(--primary-color);
}

.text-area {
  position: relative;
  padding: 30px 30px 0 30px;
}

.output-box .toolbar {
  padding: 15px 30px;
  border-top: 1px solid var(--border-color);
}

.toolbar .select-converter {
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  width: 200px;
}

.toggle-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.text-area button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
}
