.table {
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.table table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  color: var(--primary-text-color);
  padding: 10px;
  text-align: center;
  font-size: 28px;
  /* border-bottom: 1px solid #ddd; */
}
